# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [51]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [52]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv")
)
# Review the DataFrame
applicant_data_df.head()
applicant_data_df.tail()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [53]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [54]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN","NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [55]:
# Create a list of categorical variables 
categorical_variables  = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [56]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [57]:
# Encode the categorcal variables using OneHotEncoder
# encoded_data = enc.fit.transform([applicant_data_df[categorial_variables])
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [58]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [59]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables), encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]
# Display a sample of y
y[:7]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
Name: IS_SUCCESSFUL, dtype: int64

In [60]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(["IS_SUCCESSFUL"], axis=1)

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [62]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [64]:
# Create a StandardScaler instance
scaler = scaler = StandardScaler()
# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [65]:
# Define the the number of inputs (features) to the model
number_input_features = number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [67]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [68]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [69]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [70]:
# Create the Sequential model instance
nn = Sequential()

In [71]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = "relu"))

In [72]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [73]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation = "linear"))

In [74]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 936

 dense_8 (Dense)             (None, 8)                 72

 dense_9 (Dense)             (None, 1)                 9

=================================================================
Total params: 1,017
Trainable params: 1,017
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [75]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [76]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 441us/step - loss: 2.0709 - accuracy: 0.5839
Epoch 2/50
804/804 [==============================] - 0s 429us/step - loss: 0.9631 - accuracy: 0.6597
Epoch 3/50
804/804 [==============================] - 0s 430us/step - loss: 0.7518 - accuracy: 0.6787
Epoch 4/50
804/804 [==============================] - 0s 431us/step - loss: 0.7199 - accuracy: 0.6976
Epoch 5/50
804/804 [==============================] - 0s 429us/step - loss: 0.7170 - accuracy: 0.7180
Epoch 6/50
804/804 [==============================] - 0s 436us/step - loss: 0.7051 - accuracy: 0.7224
Epoch 7/50
804/804 [==============================] - 0s 460us/step - loss: 0.7111 - accuracy: 0.7201
Epoch 8/50
804/804 [==============================] - 0s 440us/step - loss: 0.6942 - accuracy: 0.7240
Epoch 9/50
804/804 [==============================] - 0s 439us/step - loss: 0.6953 - accuracy: 0.7241
Epoch 10/50
804/804 [==============================] - 0s 427us/step - loss: 0.6931 - accuracy: 0.7221
Epoch 11/50
804/804 [==============================] - 0s 440us/step - loss: 0.6560 - accuracy: 0.7244
Epoch 12/50
804/804 [==============================] - 0s 429us/step - loss: 0.6439 - accuracy: 0.7259
Epoch 13/50
804/804 [==============================] - 0s 423us/step - loss: 0.6398 - accuracy: 0.7260
Epoch 14/50
804/804 [==============================] - 0s 461us/step - loss: 0.6472 - accuracy: 0.7201
Epoch 15/50
804/804 [==============================] - 0s 431us/step - loss: 0.6588 - accuracy: 0.7236
Epoch 16/50
804/804 [==============================] - 0s 430us/step - loss: 0.6543 - accuracy: 0.7255
Epoch 17/50
804/804 [==============================] - 0s 429us/step - loss: 0.6583 - accuracy: 0.7229
Epoch 18/50
804/804 [==============================] - 0s 429us/step - loss: 0.6568 - accuracy: 0.7226
Epoch 19/50
804/804 [==============================] - 0s 429us/step - loss: 0.6432 - accuracy: 0.7204
Epoch 20/50
804/804 [==============================] - 0s 430us/step - loss: 0.6374 - accuracy: 0.7237
Epoch 21/50
804/804 [==============================] - 0s 443us/step - loss: 0.6369 - accuracy: 0.7257
Epoch 22/50
804/804 [==============================] - 0s 432us/step - loss: 0.6285 - accuracy: 0.7259
Epoch 23/50
804/804 [==============================] - 0s 431us/step - loss: 0.6230 - accuracy: 0.7268
Epoch 24/50
804/804 [==============================] - 0s 429us/step - loss: 0.6343 - accuracy: 0.7180
Epoch 25/50
804/804 [==============================] - 0s 432us/step - loss: 0.6379 - accuracy: 0.7141
Epoch 26/50
804/804 [==============================] - 0s 429us/step - loss: 0.6216 - accuracy: 0.7248
Epoch 27/50
804/804 [==============================] - 0s 430us/step - loss: 0.6159 - accuracy: 0.7249
Epoch 28/50
804/804 [==============================] - 0s 431us/step - loss: 0.6265 - accuracy: 0.7247
Epoch 29/50
804/804 [==============================] - 0s 429us/step - loss: 0.6517 - accuracy: 0.7243
Epoch 30/50
804/804 [==============================] - 0s 430us/step - loss: 0.6559 - accuracy: 0.7249
Epoch 31/50
804/804 [==============================] - 0s 430us/step - loss: 0.6494 - accuracy: 0.7238
Epoch 32/50
804/804 [==============================] - 0s 434us/step - loss: 0.6147 - accuracy: 0.7261
Epoch 33/50
804/804 [==============================] - 0s 429us/step - loss: 0.6171 - accuracy: 0.7249
Epoch 34/50
804/804 [==============================] - 0s 426us/step - loss: 0.6217 - accuracy: 0.7263
Epoch 35/50
804/804 [==============================] - 0s 431us/step - loss: 0.6077 - accuracy: 0.7284
Epoch 36/50
804/804 [==============================] - 0s 431us/step - loss: 0.6262 - accuracy: 0.7269
Epoch 37/50
804/804 [==============================] - 0s 430us/step - loss: 0.6029 - accuracy: 0.7279
Epoch 38/50
804/804 [==============================] - 0s 430us/step - loss: 0.6026 - accuracy: 0.7274
Epoch 39/50
804/804 [==============================] - 0s 431us/step - loss: 0.5998 - accuracy: 0.7291
Epoch 40/50
804/804 [==============================] - 0s 430us/step - loss: 0.5959 - accuracy: 0.7277
Epoch 41/50
804/804 [==============================] - 0s 431us/step - loss: 0.5985 - accuracy: 0.7287
Epoch 42/50
804/804 [==============================] - 0s 431us/step - loss: 0.5949 - accuracy: 0.7296
Epoch 43/50
804/804 [==============================] - 0s 431us/step - loss: 0.5890 - accuracy: 0.7301
Epoch 44/50
804/804 [==============================] - 0s 429us/step - loss: 0.5758 - accuracy: 0.7303
Epoch 45/50
804/804 [==============================] - 0s 430us/step - loss: 0.5761 - accuracy: 0.7294
Epoch 46/50
804/804 [==============================] - 0s 431us/step - loss: 0.5743 - accuracy: 0.7297
Epoch 47/50
804/804 [==============================] - 0s 431us/step - loss: 0.5771 - accuracy: 0.7285
Epoch 48/50
804/804 [==============================] - 0s 430us/step - loss: 0.5712 - accuracy: 0.7307
Epoch 49/50
804/804 [==============================] - 0s 430us/step - loss: 0.5754 - accuracy: 0.7299
Epoch 50/50
804/804 [==============================] - 0s 430us/step - loss: 0.5813 - accuracy: 0.7294

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [77]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6014 - accuracy: 0.7227 - 146ms/epoch - 545us/step
Loss: 0.601367712020874, Accuracy: 0.7226822376251221

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [79]:
# Set the model's file path
file_path = "./Resources/AlphabetSoup.h5"
# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [80]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [81]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [82]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

16

In [83]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [84]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = "relu"))

# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "linear"))

# Check the structure of the model
nn_A1.summary

In [85]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [86]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 427us/step - loss: 1.3281 - accuracy: 0.6698
Epoch 2/50
804/804 [==============================] - 0s 415us/step - loss: 1.0118 - accuracy: 0.7034
Epoch 3/50
804/804 [==============================] - 0s 414us/step - loss: 0.9689 - accuracy: 0.7103
Epoch 4/50
804/804 [==============================] - 0s 412us/step - loss: 0.9931 - accuracy: 0.7102
Epoch 5/50
804/804 [==============================] - 0s 415us/step - loss: 1.0924 - accuracy: 0.7018
Epoch 6/50
804/804 [==============================] - 0s 425us/step - loss: 1.0185 - accuracy: 0.7148
Epoch 7/50
804/804 [==============================] - 0s 420us/step - loss: 1.0053 - accuracy: 0.7143
Epoch 8/50
804/804 [==============================] - 0s 416us/step - loss: 1.0124 - accuracy: 0.7051
Epoch 9/50
804/804 [==============================] - 0s 416us/step - loss: 0.9533 - accuracy: 0.7168
Epoch 10/50
804/804 [==============================] - 0s 423us/step - loss: 0.9736 - accuracy: 0.7002
Epoch 11/50
804/804 [==============================] - 0s 420us/step - loss: 1.0119 - accuracy: 0.7087
Epoch 12/50
804/804 [==============================] - 0s 452us/step - loss: 1.0078 - accuracy: 0.7144
Epoch 13/50
804/804 [==============================] - 0s 420us/step - loss: 1.0216 - accuracy: 0.7109
Epoch 14/50
804/804 [==============================] - 0s 415us/step - loss: 0.9794 - accuracy: 0.7184
Epoch 15/50
804/804 [==============================] - 0s 419us/step - loss: 0.9364 - accuracy: 0.7182
Epoch 16/50
804/804 [==============================] - 0s 415us/step - loss: 0.9426 - accuracy: 0.7187
Epoch 17/50
804/804 [==============================] - 0s 416us/step - loss: 0.9358 - accuracy: 0.7170
Epoch 18/50
804/804 [==============================] - 0s 417us/step - loss: 0.9307 - accuracy: 0.7208
Epoch 19/50
804/804 [==============================] - 0s 417us/step - loss: 0.9325 - accuracy: 0.7199
Epoch 20/50
804/804 [==============================] - 0s 424us/step - loss: 0.9360 - accuracy: 0.7183
Epoch 21/50
804/804 [==============================] - 0s 418us/step - loss: 0.9345 - accuracy: 0.7175
Epoch 22/50
804/804 [==============================] - 0s 427us/step - loss: 0.9379 - accuracy: 0.7096
Epoch 23/50
804/804 [==============================] - 0s 446us/step - loss: 0.9237 - accuracy: 0.7162
Epoch 24/50
804/804 [==============================] - 0s 420us/step - loss: 0.9212 - accuracy: 0.7170
Epoch 25/50
804/804 [==============================] - 0s 414us/step - loss: 0.9309 - accuracy: 0.7142
Epoch 26/50
804/804 [==============================] - 0s 414us/step - loss: 0.9012 - accuracy: 0.7192
Epoch 27/50
804/804 [==============================] - 0s 414us/step - loss: 0.8937 - accuracy: 0.7208
Epoch 28/50
804/804 [==============================] - 0s 432us/step - loss: 0.8939 - accuracy: 0.7214
Epoch 29/50
804/804 [==============================] - 0s 415us/step - loss: 0.8988 - accuracy: 0.7213
Epoch 30/50
804/804 [==============================] - 0s 413us/step - loss: 0.8958 - accuracy: 0.7187
Epoch 31/50
804/804 [==============================] - 0s 414us/step - loss: 0.8891 - accuracy: 0.7213
Epoch 32/50
804/804 [==============================] - 0s 415us/step - loss: 0.9067 - accuracy: 0.7113
Epoch 33/50
804/804 [==============================] - 0s 416us/step - loss: 0.8964 - accuracy: 0.7065
Epoch 34/50
804/804 [==============================] - 0s 415us/step - loss: 0.8861 - accuracy: 0.7176
Epoch 35/50
804/804 [==============================] - 0s 414us/step - loss: 0.8826 - accuracy: 0.7200
Epoch 36/50
804/804 [==============================] - 0s 415us/step - loss: 0.8657 - accuracy: 0.7203
Epoch 37/50
804/804 [==============================] - 0s 414us/step - loss: 0.8502 - accuracy: 0.7229
Epoch 38/50
804/804 [==============================] - 0s 420us/step - loss: 0.8454 - accuracy: 0.7221
Epoch 39/50
804/804 [==============================] - 0s 414us/step - loss: 0.8118 - accuracy: 0.7233
Epoch 40/50
804/804 [==============================] - 0s 416us/step - loss: 0.8136 - accuracy: 0.7219
Epoch 41/50
804/804 [==============================] - 0s 415us/step - loss: 0.8309 - accuracy: 0.7206
Epoch 42/50
804/804 [==============================] - 0s 414us/step - loss: 0.8282 - accuracy: 0.7208
Epoch 43/50
804/804 [==============================] - 0s 411us/step - loss: 0.8235 - accuracy: 0.7128
Epoch 44/50
804/804 [==============================] - 0s 415us/step - loss: 0.8098 - accuracy: 0.7218
Epoch 45/50
804/804 [==============================] - 0s 415us/step - loss: 0.8006 - accuracy: 0.7231
Epoch 46/50
804/804 [==============================] - 0s 416us/step - loss: 0.7940 - accuracy: 0.7238
Epoch 47/50
804/804 [==============================] - 0s 415us/step - loss: 0.7915 - accuracy: 0.7240
Epoch 48/50
804/804 [==============================] - 0s 416us/step - loss: 0.8003 - accuracy: 0.7212
Epoch 49/50
804/804 [==============================] - 0s 415us/step - loss: 0.7915 - accuracy: 0.7254
Epoch 50/50
804/804 [==============================] - 0s 415us/step - loss: 0.7951 - accuracy: 0.7224

#### Alternative Model 2

In [87]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [88]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 2

In [89]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 32

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

32

In [90]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [91]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = "relu"))

# Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation = "linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 32)                3744

 dense_13 (Dense)            (None, 2)                 66

=================================================================
Total params: 3,810
Trainable params: 3,810
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [40]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 450us/step - loss: 1.4597 - accuracy: 0.4171
Epoch 2/50
804/804 [==============================] - 0s 435us/step - loss: 1.0700 - accuracy: 0.4324
Epoch 3/50
804/804 [==============================] - 0s 432us/step - loss: 1.0861 - accuracy: 0.4539
Epoch 4/50
804/804 [==============================] - 0s 431us/step - loss: 1.1847 - accuracy: 0.4542
Epoch 5/50
804/804 [==============================] - 0s 436us/step - loss: 1.1468 - accuracy: 0.4520
Epoch 6/50
804/804 [==============================] - 0s 432us/step - loss: 1.0789 - accuracy: 0.4395
Epoch 7/50
804/804 [==============================] - 0s 435us/step - loss: 1.0332 - accuracy: 0.4981
Epoch 8/50
804/804 [==============================] - 0s 429us/step - loss: 0.9870 - accuracy: 0.5067
Epoch 9/50
804/804 [==============================] - 0s 442us/step - loss: 1.1230 - accuracy: 0.4947
Epoch 10/50
804/804 [==============================] - 0s 433us/step - loss: 1.1153 - accuracy: 0.4882
Epoch 11/50
804/804 [==============================] - 0s 432us/step - loss: 1.0780 - accuracy: 0.4751
Epoch 12/50
804/804 [==============================] - 0s 451us/step - loss: 0.9790 - accuracy: 0.5168
Epoch 13/50
804/804 [==============================] - 0s 433us/step - loss: 1.1115 - accuracy: 0.5497
Epoch 14/50
804/804 [==============================] - 0s 431us/step - loss: 1.1804 - accuracy: 0.5207
Epoch 15/50
804/804 [==============================] - 0s 441us/step - loss: 0.9536 - accuracy: 0.4934
Epoch 16/50
804/804 [==============================] - 0s 435us/step - loss: 0.9409 - accuracy: 0.4509
Epoch 17/50
804/804 [==============================] - 0s 432us/step - loss: 0.9171 - accuracy: 0.4819
Epoch 18/50
804/804 [==============================] - 0s 432us/step - loss: 1.0486 - accuracy: 0.4702
Epoch 19/50
804/804 [==============================] - 0s 438us/step - loss: 0.9950 - accuracy: 0.4459
Epoch 20/50
804/804 [==============================] - 0s 432us/step - loss: 0.9334 - accuracy: 0.4868
Epoch 21/50
804/804 [==============================] - 0s 433us/step - loss: 0.9059 - accuracy: 0.5243
Epoch 22/50
804/804 [==============================] - 0s 431us/step - loss: 0.9014 - accuracy: 0.4962
Epoch 23/50
804/804 [==============================] - 0s 432us/step - loss: 0.8736 - accuracy: 0.5005
Epoch 24/50
804/804 [==============================] - 0s 430us/step - loss: 0.8738 - accuracy: 0.5012
Epoch 25/50
804/804 [==============================] - 0s 431us/step - loss: 0.8397 - accuracy: 0.4984
Epoch 26/50
804/804 [==============================] - 0s 433us/step - loss: 0.8193 - accuracy: 0.5249
Epoch 27/50
804/804 [==============================] - 0s 458us/step - loss: 0.9773 - accuracy: 0.5041
Epoch 28/50
804/804 [==============================] - 0s 433us/step - loss: 0.9668 - accuracy: 0.4993
Epoch 29/50
804/804 [==============================] - 0s 434us/step - loss: 0.8474 - accuracy: 0.5395
Epoch 30/50
804/804 [==============================] - 0s 431us/step - loss: 0.8159 - accuracy: 0.5374
Epoch 31/50
804/804 [==============================] - 0s 442us/step - loss: 0.8085 - accuracy: 0.4463
Epoch 32/50
804/804 [==============================] - 0s 435us/step - loss: 0.8348 - accuracy: 0.5075
Epoch 33/50
804/804 [==============================] - 0s 431us/step - loss: 0.8179 - accuracy: 0.5432
Epoch 34/50
804/804 [==============================] - 0s 437us/step - loss: 0.7983 - accuracy: 0.5024
Epoch 35/50
804/804 [==============================] - 0s 435us/step - loss: 0.8124 - accuracy: 0.5837
Epoch 36/50
804/804 [==============================] - 0s 430us/step - loss: 0.7565 - accuracy: 0.5031
Epoch 37/50
804/804 [==============================] - 0s 435us/step - loss: 0.7450 - accuracy: 0.5044
Epoch 38/50
804/804 [==============================] - 0s 431us/step - loss: 0.7590 - accuracy: 0.5112
Epoch 39/50
804/804 [==============================] - 0s 463us/step - loss: 0.7210 - accuracy: 0.4951
Epoch 40/50
804/804 [==============================] - 0s 436us/step - loss: 0.7240 - accuracy: 0.4730
Epoch 41/50
804/804 [==============================] - 0s 432us/step - loss: 0.7023 - accuracy: 0.4478
Epoch 42/50
804/804 [==============================] - 0s 435us/step - loss: 0.6827 - accuracy: 0.4629
Epoch 43/50
804/804 [==============================] - 0s 433us/step - loss: 0.6802 - accuracy: 0.4854
Epoch 44/50
804/804 [==============================] - 0s 432us/step - loss: 0.6866 - accuracy: 0.4820
Epoch 45/50
804/804 [==============================] - 0s 430us/step - loss: 0.6722 - accuracy: 0.5091
Epoch 46/50
804/804 [==============================] - 0s 433us/step - loss: 0.6706 - accuracy: 0.5433
Epoch 47/50
804/804 [==============================] - 0s 432us/step - loss: 0.6681 - accuracy: 0.5065
Epoch 48/50
804/804 [==============================] - 0s 521us/step - loss: 0.6731 - accuracy: 0.5310
Epoch 49/50
804/804 [==============================] - 0s 448us/step - loss: 0.6804 - accuracy: 0.5230
Epoch 50/50
804/804 [==============================] - 0s 459us/step - loss: 0.6654 - accuracy: 0.5007

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [92]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6014 - accuracy: 0.7227 - 97ms/epoch - 361us/step
Loss: 0.601367712020874, Accuracy: 0.7226822376251221

In [93]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.8025 - accuracy: 0.7203 - 143ms/epoch - 533us/step
Loss: 0.802483081817627, Accuracy: 0.7203498482704163

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6538 - accuracy: 0.4717 - 131ms/epoch - 490us/step
Loss: 0.6538282632827759, Accuracy: 0.4717201292514801

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Export your model to a HDF5 file
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6538 - accuracy: 0.4717 - 89ms/epoch - 331us/step
Loss: 0.6538282632827759, Accuracy: 0.4717201292514801

In [45]:
# Set the file path for the second alternative model
file_path = "./Resources/AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)